Allow to set xml:base on any element

[RFC 4287 §2 says](https://datatracker.ietf.org/doc/html/rfc4287#section-2):

> Any element defined by this specification MAY have an xml:base attribute [W3C.REC-xmlbase-20010627].  When xml:base is used in an Atom Document, it serves the function described in section 5.1.1 of [RFC3986], establishing the base URI (or IRI) for resolving any relative references found within the effective scope of the xml:base attribute.

However, this crate doesn't let me set `xml:base` on `<content>`. It'd be nice to have such capability.

As a workaround, I post-process the `String` that this crate generates with a function like this:

```rust
use quick_xml::{events::Event, Reader, Writer};
use std::io::Cursor;

fn add_xml_base(feed: String) -> String {
    let mut reader = Reader::from_str(&feed);
    let mut writer = Writer::new(Cursor::new(Vec::new()));
    let mut buf = Vec::new();
    loop {
        match reader.read_event(&mut buf) {
            Ok(Event::Start(e)) if e.name() == b"content" => {
                let mut element = e.into_owned();
                element.push_attribute(("xml:base", "https://example.com/"));
                assert!(writer.write_event(Event::Start(element)).is_ok());
            }

            Ok(Event::Eof) => break,
            Ok(e) => assert!(writer.write_event(e).is_ok()),
            Err(e) => panic!(
                "XML error at position {}: {:?}",
                reader.buffer_position(),
                e
            ),
        }
        buf.clear();
    }

    let bytes = writer.into_inner().into_inner();
    String::from_utf8(bytes).expect("Adding an ASCII XML attribute broke UTF-8")
}
```

This adds `xml:base="https://example.com"` to all `<content>` tags.

You need to add `quick-xml = "0.20"` to Cargo.toml for this to compile (that's the same library that this crate uses, so no extra dependencies will be compiled).

Thanks for reporting. May you check/review PR #43?